.comments {
  display: flex;
  flex-direction: column-reverse;

  .comment {
    display: flex;
    margin-bottom: 20px;
  }

  .comment:first-child {
    margin-bottom: 0;
  }

  .comment__left {
    margin-right: 12px;
  }

  .comment__right {
    
  }
  .image-wrap, .image-wrap img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.post__comments {
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: $totalwhite;
}