@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #EEF0F2;
}

::selection {
  background-color: #ffdd2d;
}

header {
  transition: all 3s;
  background-color: #FFFFFF;
  height: 80px;
}
header .container__wide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .pages a {
  margin-right: 30px;
}
header a {
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 5px;
  transition: color 10s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  color: #303637;
  font-weight: 500;
  font-size: 24px;
}
header a:hover {
  box-shadow: inset 300px 0 0 0 #ffdd2d;
  color: #303637;
}
header .user, header .user__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .user__info {
  font-weight: 700;
  font-size: 24px;
}

.required {
  color: red;
  font-family: sans-serif;
}

.yellow_btn {
  background-color: #ffdd2d;
  color: #303637;
  text-align: center;
  border: 1 px solid #303637;
  border-radius: 5px;
  width: 150px;
  height: 3em;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.container {
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}

.container__wide {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}

.input_default {
  border: 0.2em solid #303637;
  padding: 10px;
  border-radius: 5px;
}

.forms {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
}
.forms button {
  width: 100%;
  height: 60px;
}
.forms .input_default {
  height: 60px !important;
  font-size: 24px;
  border: 2px solid #303637;
}

.tabs {
  transition: all 0.3s;
  display: flex;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 20px;
}

.tab {
  width: 50%;
  height: 100%;
}

.b-tab {
  display: none;
  background-color: white;
  padding: 20px;
  padding-bottom: 35px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 0;
}

.b-tab.active {
  display: block;
}

.b-nav-tab {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #303637;
  font-weight: bold;
  font-size: 24px;
}

.first__tab {
  border-top-left-radius: 15px;
}

.last__tab {
  border-top-right-radius: 15px;
}

.b-nav-tab.active {
  background-color: #ffdd2d;
}

.dropbtn {
  background-color: #ffdd2d;
  border: none;
  border-radius: 5px;
  width: 220px;
  color: #303637;
  padding: 16px;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.dropbtn i {
  margin: 0;
  margin-right: 4px;
  font-size: 28px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: white;
  border: 1px solid #303637;
  border-radius: 5px;
  width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  margin-top: 0;
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
  cursor: pointer;
}

.popup {
  border-radius: 15px;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 400px;
  padding: 20px;
  transition: 0.5s all;
}
.popup h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}
.popup label, .popup label p {
  text-align: center;
  width: 100%;
  height: 40px;
  border: none;
  background: #ffdd2d;
  font-weight: bold;
  font-size: 28px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 36px;
}
.popup .preview {
  display: flex;
  justify-content: center;
}
.popup .preview .image-wrap, .popup .preview .image-wrap img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}
.popup progress {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}
.popup progress[value] {
  border-radius: 5px;
  background-color: #EEF0F2;
}
.popup progress[value]::-webkit-progress-bar {
  border-radius: 5px;
  background-color: #EEF0F2;
}
.popup progress[value]::-webkit-progress-value {
  border-radius: 5px;
  background-color: #ffdd2d;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

form {
  display: flex;
  flex-direction: column;
}
form * {
  margin-top: 10px;
}

.posts {
  display: flex;
  flex-direction: column-reverse;
}
.posts .post {
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
}
.posts .post .post__header {
  padding: 15px;
}
.posts .post .post__image {
  height: 400px;
}
.posts .post .post__image img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.posts .post .title {
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}
.posts .post .title a {
  text-decoration: none;
  color: #303637;
}
.posts .post .post__footer {
  padding: 15px;
  display: flex;
  justify-content: right;
}
.posts .post .post__info {
  display: flex;
  justify-content: space-between;
}
.posts .post .post__info i {
  margin-right: 5px;
}
.posts .post .post__info div {
  margin-left: 20px;
}

.author {
  font-weight: 500;
}
.author a {
  text-decoration: none;
  color: #303637;
}

.newPost {
  background: white;
  padding: 15px;
  margin-top: 30px;
  border-radius: 15px;
}
.newPost label, .newPost label p {
  text-align: center;
  width: 100%;
  height: 40px;
  background: #303637;
  color: #EEF0F2;
  font-weight: bold;
  font-size: 28px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 36px;
}
.newPost .preview {
  width: 100%;
}
.newPost label input {
  display: none;
}
.newPost form input.text__input {
  border-radius: 5px;
  width: 100%;
  border: 3px solid #303637;
  height: 40px;
  padding: 5px;
  font-size: 22px;
}
.newPost form textarea {
  width: 100%;
  border-radius: 5px;
  border: 3px solid #303637;
  min-height: 250px;
  min-width: 100%;
  max-width: 100%;
  font-size: 18px;
  line-height: 22px;
  padding: 10px;
}

.post-create__element-header {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}
.form__btns button {
  border: none;
  margin-left: 20px;
}

.element__header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.element__header button {
  background-color: #ffdd2d;
  border: none;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.post__page .post {
  margin-top: 20px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 15px;
}
.post__page h1 {
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 15px;
}
.post__page .post__component {
  margin-bottom: 20px;
  line-height: 24px;
}
.post__page .paragraph {
  opacity: 0.8;
  font-size: 18px;
  line-height: 26px;
}

.write__comment {
  margin-top: 20px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 15px;
}
.write__comment p {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 5px;
}
.write__comment textarea {
  width: 100%;
  min-height: 120px;
  border: 2px solid #303637;
  border-radius: 5px;
  font-size: 18px;
}
.write__comment button {
  width: 100%;
  border: none;
}

.profile__page .profile {
  margin-top: 20px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 20px;
}
.profile__page .profile__info {
  display: flex;
}
.profile__page .profile__info-left .image-wrap, .profile__page .profile__info-left .image-wrap img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.profile__page .profile__info-left .yellow_btn {
  border: none;
  font-weight: normal;
  font-size: 18px;
  padding: 0;
  height: 50px;
  width: 100%;
}
.profile__page .profile__info-right {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.profile__page .profile__info-right h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.about {
  background-color: #FFFFFF;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
}

.about {
  display: flex;
}
.about__info h1 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}
.about__info .links {
  display: flex;
}
.about__info .links a {
  margin-right: 15px;
  color: #303637;
  opacity: 0.5;
}
.about__info .about-text {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.about__info .about-text .header {
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
}
.about__info .about-text .paragraph {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 300;
}

.about__avatar, .about__avatar img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.about__avatar {
  margin-right: 15px;
}

.additional__info {
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 20px;
  margin-top: 20px;
}
.additional__info .info__block:last-child {
  margin-bottom: 0;
}

.info__block {
  margin-bottom: 20px;
}
.info__block .header {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
}
.info__block .body {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.info__block .body-extra {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.menu-left {
  margin-top: 20px;
  position: fixed;
  padding: 10px;
  background: #FFFFFF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 20%;
}
.menu-left .info__block {
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 3px solid #303637;
}
.menu-left .info__block .header {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.menu-left .info__block .body {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.menu-left .info__block .body-extra {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}
.menu-left .info__block:first-child {
  border: none;
  padding-top: 0;
}
.menu-left .info__block:last-child {
  padding-bottom: 0;
}

.comments {
  display: flex;
  flex-direction: column-reverse;
}
.comments .comment {
  display: flex;
  margin-bottom: 20px;
}
.comments .comment:first-child {
  margin-bottom: 0;
}
.comments .comment__left {
  margin-right: 12px;
}
.comments .image-wrap, .comments .image-wrap img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.post__comments {
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #FFFFFF;
}
